<div class="dialog-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Bot</h3>
    <span class="glyphicon glyphicon-comment pull-right panel-icon">&nbsp;</span>
  </div>
  <div class="panel-body" style="padding-bottom: 2px;">
    <mat-dialog-content>
      <div #scrollMe  class="scrolling-box">
          <div *ngFor="let p of currentDialog">
            <div class="message-box">
              <div class="{{p.direction}}">
                <div class="{{p.direction+'-text'}}">
                  <div [innerHTML]="p.text"></div>
                  <div *ngIf="p.options">
                    <div *ngFor="let c of p.options">
                      <br/>
                      <button type="button" (click)="assistantResponse(c)" class="btn btn-primary">{{c}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </mat-dialog-content>
  </div>
</div>
<mat-dialog-actions class="pull-right">
  <form class="form-inline" autocomplete="off" (keydown)="keyMessage($event)">
    <input class="form-control message-box"
           type="text"
           size="88"
           [(ngModel)]="queryString"
           placeholder="Send a message!"
           name="queryString"
           autocomplete="off"/>
  </form>
  &nbsp;
  <button class="btn btn-primary pull-right cancel-button" mat-button (click)="submit()">Send</button>&nbsp;
  <button class="btn btn-warning pull-right cancel-button" mat-dialog-close>Cancel</button>&nbsp;
</mat-dialog-actions>
